@import 'config';
@import 'header';
@import 'services';
@import 'portfolio';
@import 'features';
@import 'twitter';
@import 'whois';
@import 'contact';
@import 'footer';

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  height: 100%;
  margin: 0;
  font-family: $primary-font;
}

header,
footer,
section {
  padding: 1px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-row-gap: 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

@import 'mobile';
